<p>home works!</p>

 <!-- <img src="assets/images/aj3.png"> -->

<br>
<br>
 <!-- <img [src]="imgurl"/> -->


<!-- <ul>
    <li *ngFor="let item of list;let key=index;">
            {{key}}--{{item}}
    </li>


</ul>

<div class="red">
    ngclass test
</div>

<div [ngClass]="{'red': false}">
    ngclass ssss
</div> -->

<!-- <p style="color :red">我是一个p标签</p> -->


<!-- <p [ngStyle]="{'color': attr}">我是一个p标签</p> -->

<!-- <p>{{today|date:'yy-MM-dd'}}</p>


<p>{{attr}}</p> -->

<!-- <button (click)="expression"='run()'>执行事件</button> -->

<!-- <button (click)="run()">执行事件</button>
<br>
<br>
<button (click)="setdata()">修改数据</button>
<br>
<br>
keydown
<input type="text" (keydown)="keytest($event)">
<br>
<br>
keyup
<input type="text" (keyup)="keytest($event)">

<br>
<br>
<br>
<br>
<button (click)="myrun($event)">执行方法获取事件对象</button>
<br> -->
<br>
<br>
双向数据绑定
<input type="text" [(ngModel)]="keywords">{{keywords}}
<br>
<br>
<button (click)="changewords()">改变 keywords的值</button>
<br>
<br>
<button (click)="getwords()">获取 keywords的值</button>






