<p>home works!</p>

属性 src 是静态数据(图片是本地一个路径)
<br>
<br>
 <img src="assets/images/aj3.png">

<br>
<br>
属性 src 是动态数据(使用ts文件定义的变量)
 <img [src]="imgurl"/>
 <br>
 <br>
 angular 模板里面的数据循环
 <br>
<br>
<ul>
    <li *ngFor="let item of list;let key=index;">
            {{key}}--{{item}}
    </li>


</ul>

<br>
<br>
<div class="red">
    ngclass test
</div>

<div [ngClass]="{'red': false}">
    ngclass ssss
</div>

<p style="color :red">我是一个p标签</p> 


<p [ngStyle]="{'color': attr}">我是一个p标签</p>
<p>{{attr}}</p>

<br>
<br>
管道测试
<p>{{today|date:'yy-MM-dd'}}</p>



<button (click)="run()">执行事件</button>
<br>
<br>
{{title}}<button (click)="setdata()">修改数据</button>
<br>
<br>
keydown
<input type="text" (keydown)="keytest($event)">
<br>
<br>
keyup
<input type="text" (keyup)="keytest($event)">

<br>
<br>
<br>
双向数据绑定
<input type="text" [(ngModel)]="keywords">{{keywords}}
<br>
<br>
<button (click)="changewords()">改变 keywords的值</button>
<br>
<br>
<button (click)="getwords()">获取 keywords的值</button>






